body {
}

.settings_page_affiliate-hoover-plugin-admin input [type=text ],
.settings_page_affiliate-hoover-plugin-admin textarea,
.settings_page_affiliate-hoover-plugin-admin .regular-text,
.settings_page_affiliate-hoover-plugin-admin .small-text,
.settings_page_affiliate-hoover-plugin-admin select{
font-size:16px!important;
}
.settings_page_affiliate-hoover-plugin-admin input[type=checkbox]{
   width:20px;
height:20px;
border:2px dotted #00f;
    }

.settings_page_affiliate-hoover-plugin-admin .tablenav {
height:70px;
overflow:hidden;
}

.settings_page_affiliate-hoover-plugin-admin .tablenav a,.settings_page_affiliate-hoover-plugin-admin .tablenav span {
margin:0 2px;
}

.settings_page_affiliate-hoover-plugin-admin .displaying-num {
display:inline-block;
width:100%;
text-align:right;
}
.settings_page_affiliate-hoover-plugin-admin input:disabled {
opacity : 0.5;
border : 1px solid rgb(72,0,0);
}